# Python
__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/

# Ambiente
.env

# Data lake local
data/*
!data/.gitkeep

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
logs/
airflow.db
airflow.cfg
standalone_admin_password.txt

# IDE / SO
.vscode/
.idea/
.DS_Store
